/* General styles, applied throughout the page */
:root{
	--border-gray: #D4DADE;
	--checked-background:#CDEAA1;
	--empty-background:#FCEDE9;
	--checkbox-blue:#91C8E9;
	--checboc-hover-blue:#A6D3ED;
	font-family: 'Fira Sans', sans-serif;
	color:#434E57;
}

/* ==========================================================================
   Styles applying to the header sections (static through layout swithches)
   ========================================================================== */


/* Styles applying the time meta data
   ========================================================================== */

.time-meta-data {
	font-size:16px;
	margin-top:32px;
	padding: 32px 16px;
}

.time-zone {
	font-weight:500;
}


/* Styles for the layout-switch buttons
   ========================================================================== */

button {
	border:0px solid white;
	border-bottom : 2px solid white;
	background-color: white;
	width:auto;
	padding: 4px 16px;
	height:auto;
	font-size:16px;
	font-weight:500;
	cursor:pointer;
}

button:focus {
	outline:0px solid white;
}

.clicked {
	border-bottom : 2px solid black;
}

.toggle-options {
	padding: 16px 0px;
	width:175px;
	margin:auto
}

/* ==========================================================================
   Styles applying to the poll section of the page
   ========================================================================== */

/*  Style for the last row so we have a border on bottom of table*/
.container > :last-child > * {
	border-bottom: solid 1px var(--border-gray);
}

.row {
	display: flex;
	height:46px;
}

/*  Style for the last row so we have a border on right of table*/
.row > :last-child {
	border-right: solid 1px var(--border-gray);
}

.top-left {
	min-width: 216px;
	max-width: 216px;
	min-height: 169px;
	max-height: 169px;

	border-left: solid 1px var(--border-gray);
	border-top : solid 1px var(--border-gray);
}

/* Styles for the date and hour boxes
  ========================================================================== */

.option-box {
	height:167px;
	width:72px;
	border: 1px solid var(--border-gray);
	border-right: 0px solid white;
}

.date {
	width:inherit;
	height:80px;
	padding: 16px 0px;
	text-align: center;
}

.date-word {
	font-size:14px;
}

.date-number {
	margin: 0px 4px;
	font-size: 26px;
	font-weight:500;
	color:black;
}

.time-interval {
	height: 39px;
	padding: 0px 4px;
	padding-bottom: 16px
}

.hour {
	text-align: center;
	font-size: 14px;
}

.time-interval :last-child::before {
	content: " ";
	display: block;
	margin: 0px auto;
	width : 2px;
	height: 4px;
	border-left: solid 1px var(--border-gray);
}


/* Styles for the partcipant table poll table
  ========================================================================== */

.decision-box {
	flex: 1 1 30px;
	width:auto;
	height:45px;
	border-left: 1px solid var(--border-gray);
	border-bottom: 1px solid white;
	min-width: 72px;
	max-width: 72px;
}

.checked {
	background-color:var(--checked-background)
}

.empty {
	background-color:var(--empty-background);
}


.name-box {
		flex: 3 1 30px;
		height:45px;
		border-left: 1px solid var(--border-gray);
		border-bottom: 1px solid white;
		min-width:216px;
		max-width:216px;
}

/* ================ */
.table-poll {

}


/* ==========================================================================
   Styles applying to the calendar section of the page
   ========================================================================== */
.calendar {
	}
