:root{
	--fg-primary-color : #000000;
	--primary-theme:red;
	--border-gray: #d4dade;
	--checked-background:#CDEAA1;
	--empty-background:#FCEDE9;
}

/* General styles, applied throughout the page */

/* Styles applying to only the poll section of the page */

.row {
	display: flex;
	height:50px;
}

.table-poll {
	display:block;
}

.decision-box {
	flex: 1 1 30px;
	width:auto;
	height:49px;
	border-left: 1px solid var(--border-gray);
	border-bottom: 1px solid white;
}

.checked {
	background-color:var(--checked-background)
}

.empty {
	background-color:var(--empty-background);
}

.name-box {
		flex: 2 1 30px;
		height:49px;
		border-left: 1px solid var(--border-gray);
		border-bottom: 1px solid white;
}
/* .container {
	display: grid;
	grid-template-columns: repeat(1, 1fr)
}



.first.row {
	height: 100px;
}

.row div {

	flex: 1 1 30px;
	background-color:red;
	border:solid 1px white;
}

.row .label {
	flex: 2 1 auto;
}

img {
	width: 100%;
} */


/* Styles applying to only the calendar portion of the page */

.calendar {
	display:none;
}
